@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h3>Add a New Student</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.EnrollmentDate)
  @Html.TextBoxFor(model => model.EnrollmentDate, new { @type = "date" })

  @Html.Label("Add new course")
  @Html.DropDownList("CourseId")
  @*  @Html.CheckBox("CourseId")

  @foreach ("CourseID")
  {
    <li>@Html.CheckBox($"{course.CourseName}", new { id = course.CourseName })</li>
  } *@
  <input type="submit" value="Add new student" class="btn btn-default" /> 
}

<p>@Html.ActionLink("Show all students", "Index")</p>