@{
    Layout = "_Layout";
}

@model Registrar.Models.Student

<h1>Student Enrollment Information</h1>
<hr />
<h2>@Html.DisplayFor(model => model.Name)</h2>
<h4>Date of Enrollment: @Html.DisplayFor(model => model.EnrollmentDate) </h4>

@if(@Model.Courses.Count == 0)
{
    <p>This student has not enrolled in any courses.</p>
}
else
{
    <h4>Course Schedule:</h4>
    <ul>
        @foreach(var join in Model.Courses)
        {
            <li>@join.Course.CourseName</li>
            @using (Html.BeginForm("DeleteCourse", "Students"))
            {
            @Html.Hidden("joinId", @join.StudentCourseId)
            <input type="submit" value="Delete"/>
            }
        }
    </ul>
}

<p>@Html.ActionLink("Add a new course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Edit Student Details", "Edit", new {id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new {id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to student directory", "Index")</p>