@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Edit</h2>

<h4>Edit this student's information: @Html.DisplayFor(model => model.Name)</h4>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Date of Enrollment")
  @Html.EditorFor(model => model.EnrollmentDate)

  @Html.Label("Selecet Course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Save" />
}
