@{
  Layout = "_Layout";
}

@model Registrar.Models.Course;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.CourseName) | @Html.DisplayFor(model => model.CourseNumber) </h3>

@if(@Model.Students.Count == 0)
{
  <p>No Students are currently enrolled in this class</p>
}
else
{
  <h4>Students enrolled in this class:</h4>
  <ul>
  @foreach(var join in Model.Students)
  {
    <li>@join.Student.Name</li>
    @using (Html.BeginForm("DeleteStudent", "Courses"))
    {
      @Html.Hidden("joinId", @join.StudentCourseId)
      <input type="submit" value="Delete" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a student to course", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Edit Course Details", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Back to course directory", "Index")</p>